MT5_LOGIN=12345678
MT5_PASSWORD=replace_me
MT5_SERVER=XMGlobal-MT5 7
MT5_TERMINAL_PATH=/home/ubuntu/.mt5/drive_c/Program Files/MetaTrader 5/terminal64.exe
MT5_BRIDGE_DIR=/home/ubuntu/.mt5/drive_c/Program Files/MetaTrader 5/MQL5/Files/cipherfx
MT5_EXECUTION_MODE=bridge
MT5_FORCE_LOGIN=0
MT5_SYMBOL_SUFFIX=
MT5_MAGIC=260626
MT5_DEVIATION_POINTS=20
MT5_POLL_SECONDS=0.2
MT5_HEARTBEAT_SECONDS=1.0
MT5_CLOSE_RECONCILE_SECONDS=0.5
MT5_DEAL_RECONCILE_SECONDS=3.0
MT5_SCAN_SECONDS=900
MT5_ALIGN_FULL_SCAN_TO_M15=1
MT5_M15_SCAN_DELAY_SECONDS=8
MT5_PRIORITY_SCAN_ENABLE=1
MT5_PRIORITY_SCAN_SECONDS=45
MT5_SCALP_TP_ENABLE=1
MT5_SCALP_TP_R=1.00
MT5_SCALP_TP_R_METALS=0.70
MT5_SCALP_CLOSE_ENABLE=1
MT5_SCALP_CLOSE_R=0.85
MT5_SCALP_CLOSE_R_METALS=0.45
MT5_ENABLE_PYRAMIDING=1
MT5_ALLOW_SIGNAL_PYRAMIDING=0
MT5_PYRAMID_PROFIT_ENABLE=1
MT5_PYRAMID_TRIGGER_R=0.20
MT5_PYRAMID_MIN_PROFIT_USD=2
MT5_PYRAMID_MAX_POSITIONS_PER_SYMBOL=8
MT5_PYRAMID_BURST_SIZE=8
MT5_PYRAMID_COOLDOWN_SECONDS=0.5
MT5_PYRAMID_MAX_ENTRY_AGE_SECONDS=300
MT5_PYRAMID_LOT_MULT=1.0
MT5_PYRAMID_MAX_LOT=2.00
MT5_PYRAMID_STOP_RISK_FRACTION=0.50
MT5_PYRAMID_MAX_STOP_DISTANCE_INDICES=100
MT5_PYRAMID_MAX_STOP_DISTANCE_METALS=3.0
MT5_PYRAMID_MAX_TRADE_RISK_USD=220
MT5_MIN_SCORE_XAUUSD=96
MT5_MAX_STOP_DISTANCE_XAUUSD=4.0
MT5_BLOCK_ENTRY_UTC_WINDOWS_METALS=21:55-22:10,00:55-02:05
MT5_HISTORY_BARS=220
MT5_STARTUP_SYMBOL=EURUSD
MT5_DRY_RUN=0
MT5_CAPITAL_CAP_USD=5000
MT5_MAX_POSITION_PCT=1.0
MT5_MAX_POSITION_PCT_INDICES=12.0
MT5_MAX_POSITION_PCT_FOREX=25.0
MT5_MAX_POSITION_PCT_STOCKS=8.0
MT5_MAX_POSITION_PCT_CRYPTO=8.0
MT5_MAX_POSITION_PCT_METALS=1.0
MT5_MAX_OPEN_TRADES=30
MT5_MAX_DAILY_TRADES=30
MT5_MAX_DAILY_LOSS_USD=1000
MT5_DAILY_LOSS_OVERRIDE_USD=1000
MT5_MAX_DAILY_LOSING_STREAK=10
MT5_LOSS_COUNT_MIN_USD=5
MT5_LOSS_COUNT_MIN_USD_XAUUSD=5
MT5_PRIORITY_SYMBOLS=NAS100,US30,SPX500,US2000,EURUSD
MT5_INDEX_MAX_SPREAD_ATR_FRAC=0.17
MT5_PRIORITY_INDEX_MAX_SPREAD_ATR_FRAC=0.17
MT5_RISK_PCT=2.0
MT5_RISK_PCT_INDICES=3.0
MT5_RISK_PCT_FOREX=2.0
MT5_RISK_PCT_STOCKS=2.0
MT5_RISK_PCT_CRYPTO=1.0
MT5_RISK_PCT_METALS=0.35
MT5_MAX_LOT_DEFAULT=0.90
MT5_MAX_LOT_FOREX=0.90
MT5_MAX_LOT_STOCKS=2.00
MT5_MAX_LOT_XAUUSD=0.01
MT5_MAX_LOT_GOLD=0.01
MT5_MAX_LOT_METALS=0.01
MT5_MAX_LOT_INDICES=2.00
MT5_MAX_LOT_CRYPTO=0.90
MT5_MAX_TRADE_RISK_USD=150
MT5_MAX_TRADE_RISK_INDICES_USD=220
MT5_MAX_TRADE_RISK_FOREX_USD=150
MT5_MAX_TRADE_RISK_STOCKS_USD=150
MT5_MAX_TRADE_RISK_CRYPTO_USD=100
MT5_MAX_TRADE_RISK_METALS_USD=15
MT5_MAX_OPEN_POSITION_LOSS_INDICES_USD=220
MT5_MAX_OPEN_POSITION_LOSS_STOCKS_USD=150
MT5_MAX_OPEN_POSITION_LOSS_FOREX_USD=150
MT5_MAX_OPEN_POSITION_LOSS_CRYPTO_USD=100
MT5_MAX_OPEN_POSITION_LOSS_METALS_USD=25
MT5_MAX_SYMBOL_FLOATING_LOSS_INDICES_USD=600
MT5_MAX_SYMBOL_FLOATING_LOSS_STOCKS_USD=300
MT5_MAX_SYMBOL_FLOATING_LOSS_FOREX_USD=300
MT5_MAX_SYMBOL_FLOATING_LOSS_CRYPTO_USD=200
MT5_MAX_SYMBOL_FLOATING_LOSS_METALS_USD=35
MT5_MAX_ACCOUNT_FLOATING_LOSS_USD=1000
MT5_MARKETS=forex,metals,energies,crypto,indices,stocks,etfs
MT5_STATE_FILE=/home/ubuntu/scalp_v3/mt5_runtime_state.json
MT5_SYMBOLS_FILE=/home/ubuntu/scalp_v3/mt5_symbols.json
SCALPBOT_STATE_DB=/home/ubuntu/scalp_v3/dashboard/backend/mt5_state.db
CIPHERFX_BROKER_BACKEND=mt5
CIPHERFX_BROKER_NAME=XM Global
CIPHERFX_PLATFORM_NAME=MetaTrader 5
CIPHERFX_ACCOUNT_LABEL=XM Global MT5
CIPHERFX_PUBLIC_HTTPS=1
